@import "LightThemeTokens"
@import "DarkThemeTokens"
@import "CommonColorTokens"
@import "BaseThemeTokens"
@import "AccentThemesTokens"
@import "ColorThemesTokens"

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Arial, sans-serif
  font-style: normal

html
  overflow: hidden
//  //overflow: hidden
//  background: var(--octaviusColorBackground)


.sidebar_item
  .item_container
    span
      color: var(--color)

//.s_icon
//  color: var(--color)
//  fill: var(--color)

.App
  //background: var(--octaviusColorBackground)
  background: transparent
  height: 100vh
  font-weight: 400
  position: relative
  transition: transform 0.1s ease 0s

.portal-overlay
  position: absolute
  top: 0
  left: 0
  z-index: 1000000

.content
  width: 100%
  height: calc(100vh - 56px)
  display: flex
  z-index: 1

.letter-list
  position: absolute
  left: 232px
  width: calc(100% - 232px - 8px)
  max-height: calc(100% - 56px)
  min-height: 100px
  overflow: auto
  &::-webkit-scrollbar
    width: 8px
  &::-webkit-scrollbar-thumb
    background: var(--octaviusColorContentScrollbarAlpha)
    border-radius: 5px
  &::-webkit-scrollbar-track
    margin-top: 13px
  .letter-list__header
    height: 13px


.letter-list__list
  margin-right: 4px
  background: var(--octaviusColorLetterListBackground)
  display: flex
  flex-direction: column
  align-items: flex-start
  border-radius: 12px

.letter
  position: absolute
  left: 232px
  width: calc(100% - 232px - 12px)
  max-height: calc(100% - 13px - 56px)
  min-height: 100px
  overflow: auto
  background: var(--octaviusColorLetterListBackground)
  margin-top: 13px
  margin-right: 12px
  border-radius: 12px

.attach-dropdown-overlay__item__preview
  display: none
  position: absolute
  border-radius: 12px
  background-color: var(--colorBackgroundModal)
  box-shadow: var(--elevation2)
  z-index: 1000000
  top: 0
  left: 0
  //transform: translate(calc(-100% - 4px), -50%)
  transform: translate(calc(-100% - 4px), -100%)
  padding: 4px
  box-sizing: border-box
  height: 198px
  img
    width: 256px
    height: 190px
    object-fit: cover
    border-radius: 12px
    //padding: 4px
.attach-dropdown-overlay__item__preview.show-preview
  display: block