*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Arial, sans-serif
  font-style: normal


html[data-theme="light"]
  //--background: #F6F7F8
  //--color: red

  --octaviusColorContentScrollbarAlpha: rgba(0, 16, 61, 0.08)

  // Background
  --octaviusColorBackground: #F6F7F8
  --colorTransparentHover: rgba(0, 16, 61, 0.04)
  --colorTransparentActive: rgba(0, 16, 61, 0.08)
  --colorTransparentHoverControl: rgba(0, 16, 61, 0.04)
  --octaviusColorLetterListBackground: #FFFFFF

  // Header
  --octaviusColorHeaderBackground: #FFFFFF
  --octaviusElevationHeader: drop-shadow(0px 0px 16px rgba(2, 13, 41, 0.12))
  // Логотип
  --logoOrange: #FF9E00
  --logoWord: #005FF9
  --logoBackground: #FFFFFF

  //Sidebar
  --octaviusColorSidebarComposeButtonBackground: #FFFFFF

  //Borders
  --colorSeparatorPrimary: #DADCE0

  //Text
  --octaviusColorSidebarComposeButtonText: #333333
  --octaviusColorSidebarItemTextPrimary: #333333
  --colorTextSecondary: #87898F
  --colorTextPrimary: #2C2D2E


  //Flag item
  --octaviusColorIconFavorite: #FC2C38
  --colorIconSecondary: #A5A7AD

  // Categories
  --octaviusColorIconOrder: #F94CA3
  --octaviusColorIconFinance: #24C780
  --octaviusColorIconRegistrations: #EEAC2C
  --octaviusColorIconTravel: #C15DF3
  --octaviusColorIconEvent: #3BBAFE
  --octaviusColorIconFees: #EE3C3C

  // Icons
  --colorIconPrimary: #2C2D2E


html[data-theme="dark"]
  //--background: #19191A
  //--color: #E7E8EA
  //--color: orange

  --octaviusColorContentScrollbarAlpha: rgba(255, 255, 255, 0.24)


  // Background
  --octaviusColorBackground: #19191A
  --colorTransparentHover: rgba(255, 255, 255, 0.04)
  --colorTransparentActive: rgba(255, 255, 255, 0.08)
  --colorTransparentHoverControl: rgba(255, 255, 255, 0.9)
  --octaviusColorLetterListBackground: #232324

  // Header
  --octaviusColorHeaderBackground: #232324
  --octaviusElevationHeader: drop-shadow(0px 0px 16px rgba(2, 13, 41, 0.16))
  // Логотип
  --logoOrange: #FF9E00
  --logoWord: #FFFFFF
  --logoBackground: #232324

  //Sidebar
  --octaviusColorSidebarComposeButtonBackground: #FFFFFF

  //Borders
  --colorSeparatorPrimary: rgba(0, 0, 0, 0.4)

  //Text
  --octaviusColorSidebarComposeButtonText: #333333
  --octaviusColorSidebarItemTextPrimary: #E7E8EA
  --colorTextSecondary: #8C8E94
  --colorTextPrimary: #E7E8EA

  --colorBackgroundAccentAlternate: #FF9E00
  --white: #FFFFFF

  //Flag item
  --octaviusColorIconFavorite: #FF4550
  --colorIconSecondary: #9C9DA2

  // Categories
  --octaviusColorIconOrder: #F94CA3
  --octaviusColorIconFinance: #24C780
  --octaviusColorIconRegistrations: #EEAC2C
  --octaviusColorIconTravel: #C15DF3
  --octaviusColorIconEvent: #3BBAFE
  --octaviusColorIconFees: #EE3C3C

  // Icons
  --colorIconPrimary: #D9DADD





//html
//  //overflow: hidden
//  background: var(--octaviusColorBackground)





.sidebar_item
  .item_container
    span
      color: var(--color)

//.s_icon
//  color: var(--color)
//  fill: var(--color)



.App
  background: var(--octaviusColorBackground)
  height: 100vh
  font-weight: 400


.content
  width: 100%
  height: calc(100vh - 56px)
  display: flex
  z-index: 1
  //паддинг не нужен потому что контент идёт после блока навбара
  //padding-top: 56px
  //display: flex
  //flex-direction: row
  //height: calc(100% - 56px)
  //height: 100%
  //position: absolute
  //top: 56px
  //min-width: 380px
  //transition-duration: 0.5s
  //transition-timing-function: ease
  //transition-delay: 0s
  //transition-property: width, background


.letter-list
  //display: none
  width: calc(100% - 232px - 12px)
  //width: auto
  //height: 100px
  min-height: 100px
  //overflow-y: scroll
  background: var(--octaviusColorLetterListBackground)
  margin-top: 13px
  margin-right: 12px
  //padding: 0 12px 0 0
  display: flex
  flex-direction: column
  align-items: flex-start
  border-radius: 12px
  z-index: 10

  position: absolute
  left: 232px
