.navbar
  width: 100%
  height: 56px
  background: var(--octaviusColorHeaderBackground)
  filter: var(--octaviusElevationHeader)
  user-select: none
  z-index: 100
  position: relative
  .navbar-container
    display: flex
    justify-content: space-between
    width: 100%
    height: 100%
    padding: 4px 16px
    .navbar__logo
      display: flex
      align-items: center
      svg
        width: 96px
        height: 32px
        fill: var(--logoWord)
