.navbar
  width: 100%
  height: 56px
  background: var(--octaviusColorHeaderBackground)
  filter: var(--octaviusElevationHeader)
  user-select: none
  z-index: 100
  position: relative
  .navbar-container
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    height: 100%
    padding: 4px 16px
    .navbar__logo
      display: flex
      align-items: center
      cursor: pointer
      svg
        width: 96px
        height: 32px
        fill: var(--logoWord)
    .go-back-button
      display: flex
      color: var(--colorHeaderFilter)
      fill: var(--colorHeaderFilter)
      padding: 10px 12px
      border-radius: 8px
      flex-direction: row
      align-items: center
      gap: 12px
      cursor: pointer
      // Text
      font-weight: 500
      font-size: 15px
      line-height: 20px
      &:hover
        //background: var(--colorHeaderFilterHover)
        background: var(--colorTransparentHover)
      &:active
        background: var(--colorTransparentActive)
    .filter-button
      display: flex
      align-items: center
      padding: 10px 12px
      gap: 4px
      color: var(--colorHeaderFilter)
      fill: var(--colorHeaderFilter)
      border-radius: 8px
      &:hover
        background: var(--colorHeaderFilterHover)
      .filter-flag
        width: 16px
        height: 16px
      .filter-flag__icon__isUnread
        //fill: #005FF9
      .filter-flag__icon__isFlagged
        //fill: #FC2C38
      .filter-button__text
        font-weight: 400
        font-size: 15px
        line-height: 20px


@media only screen and (max-width: 768px)
  .navbar
    .navbar-container
      .navbar__logo
        svg
          fill: none
      .go-back-button
        .go-back-button__text
          display: none