.attach-item
  position: relative
  //margin-left: 2px
  .attach-item__icon
    box-sizing: border-box
    width: 24px
    height: 24px
    display: flex
    align-items: center
    justify-content: center
    //background-color: #005FF9
    border-radius: 8px
    &:hover
      background-color: var(--colorTransparentHover)
    &:active
      background-color: var(--colorTransparentActive)
  .attach-item__icon__icon
    fill: var(--colorIconPrimary)
  .attach-item__icon.active
    background-color: var(--colorTransparentActive)
