.app-background-element
  position: relative
  background: var(--octaviusColorBackground)
  background-repeat: no-repeat
  background-size: cover

  .App.app-minimized
    transform: scale(0.8)

  .settings-menu.open-settings-menu
    height: 50%